#plan{
 width: 60%;
}
#resultDisplay{
 visibility: hidden;
 position: relative;
 left: 0px;
 top: -350px;
}
.grid-container {
 padding-top: 50px;
 display: grid;
 grid-template-columns: 60px 60px;
 grid-template-rows: 1fr;
 grid-template-areas: "reset display";
 gap: 20px 20px;
}

button{
 width: 70px;
}
